
.sandbox-cards {
  margin-bottom: 10px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }
}

.sandbox-card-wrapper {
  margin-bottom: 10px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 20px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }
}

.sandbox-card {
  @extend .noselect;
  display: block;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  transition: margin-bottom $transition-time, transform $transition-time;

  @include media-breakpoint-up(sm) {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);

    &:hover,
    &:focus {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      transform: scale(1.05);
    }
  }

}

.sandbox-card-header {
  height: 0;
  position: relative;
  padding-bottom: 50%;
  overflow: hidden;
  border-top: 5px solid $red;
  text-decoration: none;

  &:after, &:before {
    content: "";
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.15);
    filter: opacity(0) blur(10px);
    transition: filter 250ms;

    .ready & {
      filter: opacity(1) blur(0);
    }
  }

  &:before {
    filter: opacity(1) blur(0);
  }
}


.sandbox-card-title {
  color: $black;
  font-size: 18px;
  line-height: 1.5;
  margin: 5px 0;
  transition: margin $transition-time, font-size $transition-time;

  @include media-breakpoint-up(sm) {
    margin: 10px 0;
  }

  @include media-breakpoint-up(lg) {
    font-size: 24px;
    margin: 15px 0;
  }
}

.sandbox-card-body {
  padding: 0 5px;

  @include media-breakpoint-up(sm) {
    padding: 0 10px;
    margin-bottom: 65px;
  }

  @include media-breakpoint-up(lg) {
    padding: 0 15px;
    margin-bottom: 75px;
  }
}

.sandbox-card-description {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 5px;
  transition: margin-bottom $transition-time;

  @include media-breakpoint-up(sm) {
    font-size: 12px;
    margin-bottom: 10px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

.sandbox-card-preview-link {
  background-color: $red-dimmed;
  color: $white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom: 19px;
  transition: background-color $transition-time, font-size $transition-time;
  width: 100%;

  @include media-breakpoint-up(sm) {
    bottom: 0;
    position: absolute;
  }

  @include media-breakpoint-up(lg) {
    font-size: 18px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .sandbox-card:hover &,
  .sandbox-card:focus & {
    background-color: $red;
  }
}

.external-icon {
  display: inline-block;

  &:after {
    background: url("assets/external-link.svg") no-repeat center center;
    background-size: contain;
    content: "";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 14px;
    width: 14px;
    transform: translateX(3px) translateY(2px) scale(1.2857);

    @include media-breakpoint-up(lg) {
      transform: translateX(8px) translateY(0) scale(1.2857);
    }
  }
}


.sandbox-card-header {
  #rose-standard &:before { background-image: url('assets/rose-standard-20.jpg'); }
  #rose-extended &:before { background-image: url('assets/rose-extended-20.jpg'); }
  #rose-custom &:before   { background-image: url('assets/rose-custom-20.jpg'); }

  #carnation-standard &:before { background-image: url('assets/carnation-standard-20.jpg'); }
  #carnation-extended &:before { background-image: url('assets/carnation-extended-20.jpg'); }
  #carnation-custom &:before   { background-image: url('assets/carnation-custom-20.jpg'); }

  #lily-standard &:before { background-image: url('assets/lily-standard-20.jpg'); }
  #lily-extended &:before { background-image: url('assets/lily-extended-20.jpg'); }
  #lily-custom &:before   { background-image: url('assets/lily-custom-20.jpg'); }

  #rose-standard &:after { background-image: url('assets/rose-standard-700x350.jpg'); }
  #rose-extended &:after { background-image: url('assets/rose-extended-700x350.jpg'); }
  #rose-custom &:after   { background-image: url('assets/rose-custom-700x350.jpg'); }

  #carnation-standard &:after { background-image: url('assets/carnation-standard-700x350.jpg'); }
  #carnation-extended &:after { background-image: url('assets/carnation-extended-700x350.jpg'); }
  #carnation-custom &:after   { background-image: url('assets/carnation-custom-700x350.jpg'); }

  #lily-standard &:after { background-image: url('assets/lily-standard-700x350.jpg'); }
  #lily-extended &:after { background-image: url('assets/lily-extended-700x350.jpg'); }
  #lily-custom &:after   { background-image: url('assets/lily-custom-700x350.jpg'); }
}
