.footer-copyright {
  background-color: $black;
  color: $white;
  text-align: center;
  font-size: 12px;
  transition: font-size $transition-time;

  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
}
