#header {
  width: 100%;
  position: static;
  z-index: 10;

  @include media-breakpoint-up(sm) {
    position: fixed;
  }
}

.navbar {
  height: 50px;
  background-color: $black;
  padding: 0 20px 0 5px;
  position: relative;
  transition: height $transition-time;

  @include media-breakpoint-up(sm) {
    padding: 0;
  }

  @include media-breakpoint-up(lg) {
    height: 100px;
  }
}
.navbar-brand {
  background: url('assets/logo-full.svg') no-repeat;
  background-size: contain;
  font-size: 0;
  line-height: 0;
  padding-top: 25px;
  overflow: hidden;
  position: absolute;
  text-indent:-9999px;
  width: 85px;

  @include media-breakpoint-up(lg) {
    padding-top: 50px;
    width: 169px;
  }
}

.navbar-back-to-openy {
  color: red;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  font-weight: 500;
  transform: translateY(-5px);

  @include media-breakpoint-up(lg) {
    font-size: 14px;
    transform: none;
  }
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 10px;
  transition: font-size $transition-time;

  @include media-breakpoint-up(lg) {
    font-size: 60px;
  }
}

.intro {
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;

  @include media-breakpoint-up(sm) {
    margin-top: 90px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 160px;
  }
}

.intro-text {
  margin: auto auto 20px;
  max-width: 730px;
  font-size: 12px;

  @include media-breakpoint-up(sm) {
    margin-bottom: 40px;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
    font-size: 14px;
  }
}
