// Colors.
$black: #000000;
$white: #FFFFFF;

$red: #F41938;
$light-grey: #F2F2F2;

$red-dimmed: #D0343A;

// Bootstrap override.
$grid-gutter-widths: (
    xs: 10px,
    sm: 20px,
    lg: 30px
);

$transition-time: 150ms;
